#include <windows.h>

// 图片资源
IMAGES      RCDATA     "asset/images/1.jpg"  // 背景图片
IMAGES1     RCDATA     "asset/images/0.png"  // 全屏按钮
IMAGES2     RCDATA     "asset/images/2.png"  // 退出按钮
IMAGES3     RCDATA     "asset/images/3.png"  // 登录按钮
IMAGES4     RCDATA     "asset/images/4.png"  // 鱼的图片

// 字体资源
FONTS       RCDATA     "asset/fonts/MSYH.ttf"
